/* CSS */
body {
  max-width: 61.9%;
  overflow-x: hidden;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 55px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 150px;
  margin: -55px 0 0 -50px;
  height: 125.6vh;
  padding: 25px;
  padding-top: 150px; /* Tambahkan padding-top sesuai kebutuhan */
  background: #131313;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}



#menu li
{
  padding: 17px ;
  font-size: 17px;
}

#menu a {
  display: block; /* Membuat seluruh area li dapat diklik */
  color: #ffffff; /* Warna teks */
  text-decoration: none; /* Menghapus garis bawah */
  transition: background-color 0.3s ease; /* Transisi untuk hover */
}

#menu a:hover {
  background-color: #575757; /* Warna background saat di-hover */
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.tab.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  background: var(--src) center center/100% 100% no-repeat;
  overflow: hidden;
}
.tab .section1 {
  display: flex;
  flex-direction: column;
  width: 834px;
  height: 3459px;
  min-height: 3459px;
}
.tab .rect {
  position: absolute;
  top: 712px;
  right: 0px;
  bottom: 2627px;
  left: 0px;
  width: 834px;
  height: 120px;
  background-color: black;
}
.tab .image {
  position: absolute;
  top: 47px;
  right: 768px;
  bottom: 3393px;
  left: 755px;
  width: 50px;
  height: 50px;
}
.tab .subtitle {
  position: absolute;
  top: 31px;
  right: 598px;
  bottom: 3398px;
  left: 71px;
  width: 165px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
.tab .subtitle1 {
  position: absolute;
  top: 30px;
  right: 409px;
  bottom: 3399px;
  left: 365px;
  width: 60px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
}
.tab .subtitle2 {
  position: absolute;
  top: 30px;
  right: 308px;
  bottom: 3399px;
  left: 465px;
  width: 61px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
}
.tab .subtitle3 {
  position: absolute;
  top: 30px;
  right: 184px;
  bottom: 3399px;
  left: 566px;
  width: 84px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
}
.tab .box {
  position: absolute;
  top: 20px;
  right: 19px;
  bottom: 3389px;
  left: 700px;
  display: flex;
  flex-direction: column;
  width: 115px;
  height: 50px;
  outline: 1px solid white;
  outline-offset: -1px;
}
.tab .subtitle4 {
  margin: 10px 20px;
  width: 75px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
}
.tab .hero_title {
  position: absolute;
  top: 245px;
  right: 137px;
  bottom: 3028px;
  left: 150px;
  width: 547px;
  height: 186px;
  font: 700 70px/1.32 "Playfair Display", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0.3px;
}
.tab .subtitle11 {
  position: absolute;
  top: 432px;
  right: 278px;
  bottom: 2994px;
  left: 154px;
  width: 402px;
  height: 33px;
  font: 600 22px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.498);
  letter-spacing: 0.3px;
}
.tab .image1 {
  position: absolute;
  top: 162px;
  right: 767px;
  bottom: 2840px;
  left: 53px;
  width: 14px;
  height: 457px;
}
.tab .image2 {
  position: absolute;
  top: 245px;
  right: 54px;
  bottom: 2921px;
  left: 767px;
  width: 13px;
  height: 293px;
}
.tab .image3 {
  position: absolute;
  top: 757px;
  right: 666px;
  bottom: 2672px;
  left: 46px;
  width: 122px;
  height: 30px;
}
.tab .image4 {
  position: absolute;
  top: 757px;
  right: 479px;
  bottom: 2672px;
  left: 232px;
  width: 123px;
  height: 30px;
}
.tab .image5 {
  position: absolute;
  top: 757px;
  right: 263px;
  bottom: 2672px;
  left: 419px;
  width: 152px;
  height: 30px;
}
.tab .image6 {
  position: absolute;
  top: 757px;
  right: 36px;
  bottom: 2672px;
  left: 636px;
  width: 162px;
  height: 30px;
}
.tab .rect1 {
  position: absolute;
  top: 965px;
  right: 439px;
  bottom: 1994px;
  left: 45px;
  width: 350px;
  height: 500px;
  background-color: #c4c4c4;
  border-radius: 0px 175px 175px 175px;
}
.tab .image7 {
  position: absolute;
  top: 969px;
  right: 438px;
  bottom: 1990px;
  left: 46px;
  width: 350px;
  height: 500px;
}
.tab .subtitle21 {
  position: absolute;
  top: 964px;
  right: 52px;
  bottom: 1955px;
  left: 420px;
  width: 362px;
  height: 540px;
  font: 500 20px/1.79 "Poppins", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.498);
  text-align: justify;
  letter-spacing: 0.1px;
}
.tab .hero_title1 {
  position: absolute;
  top: 883px;
  right: 198px;
  bottom: 2504px;
  left: 424px;
  width: 212px;
  height: 72px;
  font: 700 40px/1.79 "Playfair Display", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0.3px;
}
.tab .line {
  position: absolute;
  top: 1575px;
  right: 590px;
  bottom: 1883px;
  left: 60px;
  width: auto;
  height: 1px;
  background-color: white;
}
.tab .big_title {
  position: absolute;
  top: 1635px;
  right: 265px;
  bottom: 1759px;
  left: 264px;
  width: 305px;
  height: 65px;
  font: 700 36px/1.79 "Playfair Display", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0.3px;
}
.tab .subtitle22 {
  position: absolute;
  top: 1715px;
  right: 122px;
  bottom: 1204px;
  left: 127px;
  width: 585px;
  height: 540px;
  font: 500 20px/1.79 "Poppins", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.498);
  text-align: justify;
  letter-spacing: 0.3px;
}
.tab .rect2 {
  position: absolute;
  top: 2330px;
  right: 169px;
  bottom: 954px;
  left: 175px;
  width: 490px;
  height: 175px;
  background-color: rgba(255, 255, 255, 0.498);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.247);
}
.tab .subtitle31 {
  position: absolute;
  top: 2423px;
  right: 412px;
  bottom: 1006px;
  left: 318px;
  width: 104px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0.498);
  letter-spacing: 0.3px;
}
.tab .title {
  position: absolute;
  top: 2383px;
  right: 213px;
  bottom: 1036px;
  left: 318px;
  width: 303px;
  height: 40px;
  font: 700 30px/1.33 "Playfair Display", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.2px;
}
.tab .image8 {
  position: absolute;
  top: 2373px;
  right: 526px;
  bottom: 996px;
  left: 218px;
  width: 90px;
  height: 90px;
  border-radius: 45px 45px 45px 45px;
}
.tab .rect3 {
  position: absolute;
  top: 2525px;
  right: 169px;
  bottom: 759px;
  left: 175px;
  width: 490px;
  height: 175px;
  background-color: #aab5c2;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.247);
}
.tab .image81 {
  position: absolute;
  top: 2568px;
  right: 526px;
  bottom: 801px;
  left: 218px;
  width: 90px;
  height: 90px;
  border-radius: 45px 45px 45px 45px;
}
.tab .subtitle32 {
  position: absolute;
  top: 2617px;
  right: 413px;
  bottom: 812px;
  left: 318px;
  width: 103px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0.498);
  letter-spacing: 0.2px;
}
.tab .title1 {
  position: absolute;
  top: 2578px;
  right: 299px;
  bottom: 841px;
  left: 318px;
  width: 217px;
  height: 40px;
  font: 700 30px/1.33 "Playfair Display", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.3px;
}
.tab .rect21 {
  position: absolute;
  top: 2720px;
  right: 169px;
  bottom: 564px;
  left: 175px;
  width: 490px;
  height: 175px;
  background-color: rgba(255, 255, 255, 0.498);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.247);
}
.tab .subtitle33 {
  position: absolute;
  top: 2812px;
  right: 414px;
  bottom: 617px;
  left: 318px;
  width: 102px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0.498);
  letter-spacing: 0.2px;
  opacity: 0.69;
}
.tab .title2 {
  position: absolute;
  top: 2773px;
  right: 370px;
  bottom: 646px;
  left: 318px;
  width: 146px;
  height: 40px;
  font: 700 30px/1.33 "Playfair Display", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.3px;
}
.tab .image82 {
  position: absolute;
  top: 2763px;
  right: 526px;
  bottom: 606px;
  left: 218px;
  width: 90px;
  height: 90px;
  border-radius: 45px 45px 45px 45px;
}
.tab .hero_title2 {
  position: absolute;
  top: 3135px;
  right: 192px;
  bottom: 263px;
  left: 155px;
  display: flex;
  justify-content: center;
  width: 487px;
  height: 61px;
  font: 400 46px/1.32 "Playfair Display", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.tab .hero_title3 {
  position: absolute;
  top: 2912px;
  right: 539px;
  bottom: 480px;
  left: 208px;
  display: flex;
  justify-content: center;
  width: 87px;
  height: 67px;
  font: 400 50px/1.34 "Playfair Display", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.tab .subtitle41 {
  position: absolute;
  top: 2978px;
  right: 443px;
  bottom: 451px;
  left: 199px;
  display: flex;
  justify-content: center;
  width: 192px;
  height: 30px;
  font: 700 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.tab .hero_title31 {
  position: absolute;
  top: 2912px;
  right: 265.5px;
  bottom: 480px;
  left: 464.5px;
  display: flex;
  justify-content: center;
  width: 104px;
  height: 67px;
  font: 400 50px/1.34 "Playfair Display", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.tab .subtitle42 {
  position: absolute;
  top: 2978px;
  right: 225px;
  bottom: 451px;
  left: 464px;
  display: flex;
  justify-content: center;
  width: 145px;
  height: 30px;
  font: 700 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.tab .line1 {
  position: absolute;
  top: 3080px;
  right: 590px;
  bottom: 378px;
  left: 60px;
  width: auto;
  height: 1px;
  background-color: white;
}
.tab .box1 {
  position: absolute;
  top: 3220px;
  right: 331px;
  bottom: 189px;
  left: 337px;
  display: flex;
  flex-direction: column;
  width: 166px;
  height: 50px;
  min-height: 50px;
  outline: 1px solid white;
  outline-offset: -1px;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.247));
}
.tab .image9 {
  position: absolute;
  top: 16px;
  right: 126px;
  bottom: 16px;
  left: 20px;
  width: 20px;
  height: 18px;
}
.tab .subtitle5 {
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 10px;
  left: 50px;
  display: flex;
  justify-content: center;
  width: 96px;
  height: 30px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.tab .highlight_box {
  position: absolute;
  top: 3360px;
  right: 39px;
  bottom: 66px;
  left: 495px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 33px;
}
.tab .highlight {
  font: 500 18px/1.79 "Poppins", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0.3px;
}
.tab .highlight_span0 {
  font: 500 1em/1.79 "Poppins", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.498);
}
.tab .highlight_span1 {
  font: 700 1em/1.79 "Poppins", Helvetica, Arial, serif;
  color: white;
}
.tab .highlight_span2 {
  font: 500 1em/1.79 "Poppins", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.498);
}
.tab .image10 {
  position: absolute;
  top: 3350px;
  right: 484px;
  bottom: 64px;
  left: 50px;
  width: 300px;
  height: 45px;
}